.mw-500.mx-auto
  %h2.text-center.text-sm-start= t('.forgot_your_password')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, builder: BootstrapBuilder) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .actions.text-center.text-sm-start
      = f.submit t('.send_me_reset_password_instructions')
  = render "devise/shared/links"
