%h1= t(".title")

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %th{ scope: "col" } #
      - Enqueue::TABLE_HEADERS.each do |header|
        %th{ scope: "col" }= t(".table.headers.#{header}")
      %th{ scope: "col" }= t(".table.headers.actions")

    %tbody
      - @appointments.each do |appointment|
        %tr{ scope: "row" }
          %td= appointment.id
          %td= appointment.patient.name
          %td= appointment.patient.phone
          %td= appointment.patient.email
          %td= appointment.patient.shift
          %td= appointment.booked_at.present? ? l(appointment.booked_at.to_date) : "No"
          %td
            = button_tag(:book,
                type: "button",
                class: "btn btn-primary me-3",
                "data-bs-toggle": "tooltip",
                title: t(".table.actions.patient")) do
              %i.bi.bi-person-fill
            - if appointment.booked_at.nil?
              = button_tag(:unbook,
                  type: "button",
                  class: "btn btn-danger",
                  "data-bs-toggle": "tooltip",
                  title: t(".table.actions.unbook")) do
                %i.bi.bi-calendar-x
            - else
              = button_tag(:book,
                  type: "button",
                  class: "btn btn-success",
                  "data-bs-toggle": "tooltip",
                  title: t(".table.actions.book")) do
                %i.bi.bi-calendar-plus
