!!!
%html{lang: "es"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Listavo
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body.public.d-flex.flex-column.px-3.bg-light
    = render "partials/flash"
    %main.container.mt-5.p-3.p-md-5.bg-white.text-body.rounded.shadow
      = yield
    %footer
